@import "tailwindcss";

.square {
  height: 150px;
  width: 150px;
  background: #fff;
  border: 3px solid blue;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
}


